body {
background-color: #E4D1B9;
}
h1{
color: #BE8C63;
}
h3{

  text-decoration: underline;

  color: #A97155;
}

hr {
border-color: grey;
border-width: 5px;
border-style:  dotted none none none;

width: 5%;
}

img{
height: 200px;
}
